@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body {
    background: url(img/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    font-family: 'Lato', sans-serif;
    color: blueviolet;
}

#left {
    float: left;
    margin-left: 15px;
    /* Standard */
    width: calc(30% - 45px);
        /* Firefox */
    width: -moz-calc(35% - 45px);
    /* WebKit */
    width: -webkit-calc(35% - 45px);
    /* Opera */
    width: -o-calc(35% - 45px);
}

#right {
    float: right;
    margin-right: 15px;
    width: 65%;
}

.outdoorPath { 
    stroke: rgb(29,185,164); 
    stroke-width: 2;
    fill: none;
}

.indoorPath  {
    stroke: rgb(249,189,83);
    stroke-width: 2;
    fill: none;
}

.outdoor {
    fill: rgb(29,185,164); 
}

.indoor {
    fill: rgb(249,189,83);
}

#cover {
    position: fixed; 
    height: 100%; 
    width: 100%; 
    top:0; 
    left: 0; 
    background: white; 
    z-index:9999;
}

.graphHeading {
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    text-align: center;
    color: white;
    font-weight: 400;
    width: inherit;
    padding-top: 20px;
}

#clock {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 5.5vw;
    color: white;
    font-weight:400;
    width: inherit;
    padding-top: 1.3vw;
}

#dateString {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 2.5vw;
    color: white;
    font-weight:300;
    width: inherit;
}

.graphDiv {
    width: 100%;
    height: inherit;
    background-color: rgba(0,0,0,0.75);
    margin: 0;
    margin-top: 15px;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
}

svg .barText {
    text-anchor: middle;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    fill: white;
}

.y.axis path,
.y.axis line,
.x.axis path,
.x.axis line {
    fill: none;
    stroke: white;
    shape-rendering crispEdges;
}

.y.axis text,
.x.axis text {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    fill: rgb(255,255,255);
}

.yLabel {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    fill: rgb(255,255,255);
}

.button {
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    display: inline-block;
    float: left;
    font-size: 20px;
    width: 33.33%;
    height: 100%;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
    margin-bottom: 15px;
}

.button:hover {
    background-color: rgb(251,252,252);
    color: #f17a37;
}

.button.selected {
    background-color: #f17a37;
    color: white;
}

.button.selected:hover {
    background-color: #f17a37;
    color: white;
}

.graphButtonDiv {
    width: 100%;
    height: inherit;
    background-color: rgba(40,40,40,0.8);
    margin: 0 auto;
}

