@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

html, #content{
    height: 100%;
}

body {
    background: url(img/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin: 0;
}

p {
    font-family: 'Lato', sans-serif;
    color: blueviolet;
}

#left {
    float: left;
    margin-left: 10px;
    /* Standard */
    width: calc(30% - 34px);
        /* Firefox */
    width: -moz-calc(35% - 34px);
    /* WebKit */
    width: -webkit-calc(35% - 34px);
    /* Opera */
    width: -o-calc(35% - 34px);
    height: 100%;
}

#right {
    float: right;
    margin-right: 10px;
    width: 65%;
    height: 100%;
}

.outdoorPath { 
    stroke: rgb(75,201,150);
    stroke-width: 2;
    fill: none;
}

.indoorPath  {
    stroke: rgb(249,189,83);
    stroke-width: 2;
    fill: none;
}

.outdoor {
    fill: rgb(75,201,150); 
}

.indoor {
    fill: rgb(249,189,83);
}

#cover {
    position: fixed; 
    height: 100%; 
    width: 100%; 
    top:0; 
    left: 0; 
    background: white; 
    z-index:9999;
}

.graphHeading {
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    text-align: center;
    color: white;
    font-weight: 400;
    width: inherit;
    padding-top: 2.5vh;
}

#clock {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 9vmin;
    color: white;
    font-weight:400;
    width: inherit;
    padding-top: 2vmin;
}

#dateString {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 4vmin;
    color: white;
    font-weight:300;
    width: inherit;
}

#statsString {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 5vmin;
    color: white;
    font-weight:300;
    width: inherit;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#statHeading {
    height: 10%;
    padding-bottom: 2vh;
}

#datetime {
    height: 20%;
}

#break {
    height: 4%;
    margin-top: 0;
}

#piechart {
    margin-top: 0;
    height: 33%;
}

#chartKey {
    margin-top: 0;
    height: 7%;
}

#statSheet {
    margin-top: 0;
    /* Standard */
    height: calc(21% - 40px - 2vh);
        /* Firefox */
    height: -moz-calc(21% - 40px - 2vh);
    /* WebKit */
    height: -webkit-calc(21% - 40px - 2vh);
    /* Opera */
    height: -o-calc(21% - 40px - 2vh);
}

.graphDiv {
    width: 100%;
    
    /* Standard */
    height: calc(50% - 20px);
        /* Firefox */
    height: -moz-calc(50% - 20px);
    /* WebKit */
    height: -webkit-calc(50% - 20px);
    /* Opera */
    height: -o-calc(50% - 20px);
    
    background-color: rgba(0,0,0,0.75);
    margin: 0;
    margin-top: 13px;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
}

svg .barText {
    text-anchor: middle;
    font-family: 'Lato', sans-serif;
    font-size: 1.3vh;
    fill: white;
}

.pieLabel {
    font-family: 'Lato', sans-serif;
    font-size: 2.2vmin;
    font-weight: 300;
    fill: rgb(255,255,255);
}

.statText {
    font-family: 'Lato', sans-serif;
    font-size: 2vmin;
    font-weight: 400;
    fill: rgb(255,255,255);
}

.statTextLight {
    font-family: 'Lato', sans-serif;
    font-size: 2vmin;
    font-weight: 300;
    fill: rgb(255,255,255);
}

.y.axis path,
.y.axis line,
.x.axis path,
.x.axis line {
    fill: none;
    stroke: white;
    shape-rendering crispEdges;
}

.y.axis text,
.x.axis text {
    font-family: 'Lato', sans-serif;
    font-size: 1.5vh;
    fill: rgb(255,255,255);
}

.yLabel {
    font-family: 'Lato', sans-serif;
    font-size: 1.5vh;
    fill: rgba(255,255,255, .6);
}

.button {
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    display: inline-block;
    float: left;
    font-size: 3vh;
    width: 33.33%;
    height: 100%;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
    margin-bottom: 15px;
}

.button:hover {
    background-color: rgb(251,252,252);
    color: #f17a37;
}

.button.selected {
    background-color: #f17a37;
    color: white;
}

.button.selected:hover {
    background-color: #f17a37;
    color: white;
}

.graphButtonDiv {
    width: 100%;
    height: 5%;
    background-color: rgba(40,40,40,0.8);
    margin: 0 auto;
}

