<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3 Test</title>
        <script src="http://d3js.org/d3.v3.min.js"  charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    </head>
    <body>
        <div id="cover"></div>
        <div id="current" class="graphDiv">
            <br>
            <div class="graphHeading">Current Water Use</div>
        </div>
        <div id= "aggregate" class="graphDiv">
            <br>
            <div class="graphHeading">Historical Water Use</div>
        </div>
        
        <script type="text/javascript">
            
            var width = 900;
            var height = 500;
            var barPadding = 7;
            var heightPadding = 40;
            var widthPadding = 40; 
            var maxVals = Math.round(width/60);
            
            
            $(document).ready(function() {
                var requestCurrent = $.ajax({
                    url: '/sha/v1.0/readings/current/',
                    data: {"max": maxVals},
                    method: 'GET',
                });
                
                var requestAgg = $.ajax({
                    url: '/sha/v1.0/readings',
                    method: 'GET'
                });
                
                requestCurrent.done(function (msg) {
                    $(".graphHeading").css("width", width);
                    $(".graphDiv").css("width", width+widthPadding/3);
                    //console.log(msg.meters);
                   // drawAggGraph(msg.meters, function () {
                    //    $("#cover").fadeOut(700);
                    //});
                    drawCurrentGraph(msg.meters);
                });
                
                requestAgg.done(function (msg){
                    drawAggGraph(msg.meters, function () {
                        $("#cover").fadeOut(700);
                    });
                })
                
                
            });
            
            function drawCurrentGraph(dataset){
                
                function getXLoc(d,i){
                    return scaleTime(new Date(d.timestamp));
                }
                
                var widthIn = ((width-widthPadding)/dataset.length)/2;

                var scaleTime = d3.time.scale()
                    .domain([new Date(dataset[dataset.length-1].timestamp), new Date(dataset[0].timestamp)])
                    .range([widthPadding, width-widthPadding/2]);
                
                var scaleHeight = d3.scale.linear()
                    .domain([0, d3.max(dataset, function(d) {return Math.max(d.outdoor, d.indoor);})])
                    .range([0, height-heightPadding*2]);
                
                var scaleHeightUpsideDown = d3.scale.linear()
                    .domain([0, d3.max(dataset, function(d){ return Math.max(d.outdoor,d.indoor);})])
                    .range([height-heightPadding*2, 0]);
                
                var svgCurrent = d3.select("#current")
                    .append("svg")
                    .attr("width", width)
                    .attr("height", height);
                
                 var yAxis = d3.svg.axis()
                    .scale(scaleHeightUpsideDown)
                    .orient("left")
                    .ticks(5);
                
                var xAxis = d3.svg.axis()
                    .scale(scaleTime)
                    .orient("bottom")
                    .ticks(dataset.length);
                
                svgCurrent.append("g")
                    .attr("class", "axis")
                    .call(xAxis)
                    .attr("transform", "translate(" + 0 + "," + (height-heightPadding) + ")");
                
                svgCurrent.append("g")
                    .attr("class", "axis")
                    .attr("transform", "translate("+ widthPadding + "," + heightPadding + ")")
                    .call(yAxis);
                
                // add the gridlines
                svgCurrent.selectAll("line.horizontalGrid")
                    .data(scaleHeightUpsideDown.ticks(5))
                    .enter()
                    .append("line")
                        .attr(
                        {
                            "class":"horizontalGrid",
                            "x1" : widthPadding,
                            "x2" : width - widthPadding/2,
                            "y1" : function(d){ return scaleHeightUpsideDown(d) + heightPadding;},
                            "y2" : function(d){ return scaleHeightUpsideDown(d) + heightPadding;},
                            "fill" : "none",
                            "shape-rendering" : "crispEdges",
                            "stroke" : "white",
                            "stroke-width" : "1px",
                            "stroke-dasharray" : "5, 5"
                        });
                
                // add the outdoor data points
                svgCurrent.selectAll("#outdoorCircle")
                    .data(dataset)
                    .enter()
                    .append("circle")
                    .attr({
                        "cx": function(d,i){return getXLoc(d,i);},
                        "cy": function(d){ return height - scaleHeight(d.outdoor) - heightPadding;},
                        "r": 8,
                        "id": "outdoorCircle",
                        "class": "outdoor"
                    });
                
                // add the indoor data points
                svgCurrent.selectAll("#indoorCircle")
                    .data(dataset)
                    .enter()
                    .append("circle")
                    .attr({
                        "cx": function(d,i){return getXLoc(d,i);},
                        "cy": function(d){ return height - scaleHeight(d.indoor) - heightPadding;},
                        "r": 8,
                        "id": "indoorCircle",
                        "class": "indoor"
                    });
                
                // function for adding the connection between points
                var valueInd = d3.svg.line()
                    .x(function(d, i) { 
                        return getXLoc(d,i);
                    })
                    .y(function(d){return height - scaleHeight(d.indoor) - heightPadding;});
                
                var valueOut = d3.svg.line()
                    .x(function(d, i) { 
                        return getXLoc(d,i);
                    })
                    .y(function(d){return height - scaleHeight(d.outdoor) - heightPadding;});
                
                // append the paths between points
                svgCurrent.append("path")
                    .attr("class", "indoorPath")
                    .attr("d", valueInd(dataset));
                
                svgCurrent.append("path")
                    .attr("class", "outdoorPath")
                    .attr("d", valueOut(dataset));
                
               
                addYLabel(svgCurrent);
                
    
            }
            
            function drawAggGraph(dataset, callback) {
                
                var scaleHeight = d3.scale.linear()
                    .domain([0, d3.max(dataset, function(d){ return (d.outdoor+d.indoor);})])
                    .range([0, height-heightPadding*2]);

                var scaleHeightUpsideDown = d3.scale.linear()
                    .domain([0, d3.max(dataset, function(d){ return (d.outdoor+d.indoor);})])
                    .range([height-heightPadding*2, 0]);

                var svgAgg = d3.select("#aggregate")
                    .append("svg")
                    .attr("width", width)
                    .attr("height", height);
                
                svgAgg.selectAll("#outdoorRect")
                    .data(dataset)
                    .enter()
                    .append("rect")
                    .attr({
                        "x": function(d,i){
                            return ((width-widthPadding)/dataset.length)*i + widthPadding;
                        },
                        "y": function (d){
                            return height - scaleHeight(d.outdoor) - scaleHeight(d.indoor) - heightPadding;   
                        },
                        "width": (width-widthPadding)/dataset.length - barPadding,
                        "height": function(d){
                            return scaleHeight(d.outdoor);
                        },
                        "id": "outdoorRect",
                        "class": "outdoor"
                    });
                
                svgAgg.selectAll("#indoorRect")
                    .data(dataset)
                    .enter()
                    .append("rect")
                    .attr({
                        "x": function(d,i){
                            return ((width-widthPadding)/dataset.length)*i + widthPadding;
                        },
                        "y": function (d){
                            return height - scaleHeight(d.indoor) - heightPadding;   
                        },
                        "width": (width-widthPadding)/dataset.length - barPadding,
                        "height": function(d){
                            return scaleHeight(d.indoor);
                        },
                        "id": "indoorRect",
                        "class": "indoor"
                    });
                
                svgAgg.selectAll("#outdoorText")
                    .data(dataset)
                    .enter()
                    .append("text")
                    .text(function(d){
                        return d.outdoor == 0 ? "" : d.outdoor;
                    })
                    .attr("x", function(d, i){
                        return i * ((width-widthPadding)/dataset.length) + ((width-widthPadding)/dataset.length - barPadding)/2 + widthPadding;
                    })
                    .attr("y", function(d){
                        return height - scaleHeight(d.outdoor) - scaleHeight(d.indoor) + ((width-widthPadding)/dataset.length - barPadding)/2 - heightPadding;
                    })
                    .attr("class", "barText")
                    .attr("id","outdoorText");
                
                svgAgg.selectAll("#indoorText")
                    .data(dataset)
                    .enter()
                    .append("text")
                    .text(function(d){
                        return d.indoor == 0 ? "" : d.indoor;
                    })
                    .attr("x", function(d, i){
                        return i * ((width-widthPadding)/dataset.length) + ((width-widthPadding)/dataset.length - barPadding)/2 + widthPadding;
                    })
                    .attr("y", function(d){
                        return height - scaleHeight(d.indoor) + ((width-widthPadding)/dataset.length - barPadding)/2 - heightPadding;
                    })
                    .attr("class", "barText")
                    .attr("id","indoorText");
            
                var yAxis = d3.svg.axis()
                    .scale(scaleHeightUpsideDown)
                    .orient("left")
                    .ticks(5);
                
                svgAgg.append("g")
                    .attr("class", "axis")
                    .attr("transform", "translate("+ widthPadding + "," + heightPadding + ")")
                    .call(yAxis);
                
                addYLabel(svgAgg);
                
                callback();
            
            }
            
            function addYLabel(svg){
                svg.append("text")
                    .attr("class", "yLabel")
                    .attr("text-anchor", "start")
                    .attr("y", widthPadding + widthPadding/8)
                    .attr("x", -(height-heightPadding-5))
                    .attr("dy", ".75em")
                    .attr("transform", "rotate(-90)")
                    .text("Gallons");
            }
            
        </script>
    </body>
</html>